<h1>Profile</h1>

<%= form_for @profile, url: users_profile_path do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h3>The following errors prohibited this record from being saved:</h3>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="eight columns">

      <div class="field">
        <%= f.label :first_name, class: "required" %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "required" %>
        <%= f.text_field :last_name %>
      </div>

      <div class="row">
        <div class="field six columns">
          <%= f.label :phone1, "Cell Phone", class: "required" %>
          <%= f.text_field :phone1 %>
        </div>

        <div class="field six columns">
          <%= f.label :phone2, "Office Phone", class: "required" %>
          <%= f.text_field :phone2 %>
        </div>
      </div>

    </div>

    <div class="four columns">
      <img src="http://placehold.it/200x200">
      <label>Upload Picture</label>
      <small>Delete Picture</small>
    </div>

  </div>

  <div class="field">
    <%= f.label :company, class: "required" %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :agent_id, "Agent ID", class: "required" %>
    <%= f.text_field :agent_id %>
  </div>

  <div class="field">
    <div class="row">
      <div class="four columns">
        <%= f.label "agent_type_buyers_agent", "I'm a buyer's agent and I want assistance with showings" %>
        <%= f.radio_button :agent_type, :buyers_agent %>
      </div>

      <div class="four columns">
        <%= f.label "agent_type_sellers_agent", "I'm an agent available to assist with showings" %>
        <%= f.radio_button :agent_type, :sellers_agent %>
      </div>

      <div class="four columns">
        <%= f.label "agent_type_both", "I want to do both: assist with showings and receive assistance for showings" %>
        <%= f.radio_button :agent_type, :both %>
      </div>
    </div>
  </div>

  <%= f.submit "Update", class: "button-primary" %>

<% end %>

<%= link_to "Edit your email or password", edit_user_registration_path, class: "button" %>