<h1>Profile</h1>

<%= form_for @profile, url: users_profile_path do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h3>The following errors prohibited this record from being saved:</h3>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="eight columns">

      <div>
        <%= f.label :first_name, class: "required" %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div>
        <%= f.label :last_name, class: "required" %>
        <%= f.text_field :last_name %>
      </div>

      <div class="row">
        <div class="field six columns">
          <%= f.label :phone1, "Cell Phone", class: "required" %>
          <%= f.text_field :phone1 %>
        </div>

        <div class="field six columns">
          <%= f.label :phone2, "Office Phone", class: "required" %>
          <%= f.text_field :phone2 %>
        </div>
      </div>

    </div>

    <div class="four columns left-or-right">
      <%= image_tag @profile.avatar.url(:small), class: "size-200" %>
      <div class="left-or-right">
        <%= f.file_field :avatar, class: "size-200" %>
      </div>
      <% if @profile.avatar.present? %>
        <p>
          <%= link_to "Delete avatar", delete_avatar_users_profile_path, method: "post", data: { confirm: "Are you sure you want to delete your avatar?" } %>
        </p>
      <% end %>
    </div>

  </div>

  <div>
    <%= f.label :company, class: "required" %>
    <%= f.text_field :company %>
  </div>

  <div>
    <%= f.label :agent_id, "Agent ID", class: "required" %>
    <%= f.text_field :agent_id %>
  </div>

  <div>
    <div class="row">
      <div class="four columns">
        <%= f.label "agent_type_buyers_agent", "I'm a buyer's agent and I want assistance with showings" %>
        <%= f.radio_button :agent_type, :buyers_agent %>
      </div>

      <div class="four columns">
        <%= f.label "agent_type_sellers_agent", "I'm an agent available to assist with showings" %>
        <%= f.radio_button :agent_type, :sellers_agent %>
      </div>

      <div class="four columns">
        <%= f.label "agent_type_both", "I want to do both: assist with showings and receive assistance for showings" %>
        <%= f.radio_button :agent_type, :both %>
      </div>
    </div>
  </div>

  <label for="map">Select your showing area</label>
  <p class="note">
    Click the square icon on the map, and draw a box around the area in which you are willing
    to show properties.</p>
  <div id="map"></div>

  <%= f.hidden_field :geo_box %>

  <%= f.submit "Update", class: "button-primary" %>

<% end %>

<%= link_to "Edit your email or password", edit_user_registration_path, class: "button" %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBffPEqK3fNSSFCl9H04OH3aB5sN51DaI&callback=initMap"></script>
<%= javascript_include_tag "single_view/google_maps" %>
