<%= content_for(:subnav) { render "shared/users/subnav_profile" } %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= Rails.application.secrets[:stripe]["public_key"] %>");

  var stripeResponseHandler = function(status, response) {
    var $form = $("#payment-form");

    if (response.error) {
      // Show the errors on the form
      $form.find(".payment-errors").text(response.error.message).show();
      $form.find("button").prop("disabled", false);
    }
    else {
      // The token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server, and resubmit
      $form.append($("<input type='hidden' name='stripeToken'/>").val(token));
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $("#payment-form").submit(function(e) {
      var $form = $(this);
      $form.find("button").prop("disabled", true); // Prevent repeated clicks

      var isValidZip = /(^\d{5}$)/.test($("#cc-address-zip").val());
      if (!isValidZip) {
        $form.find(".payment-errors").text("Please enter a 5 digit zip code.").show();
      }
      else {
        Stripe.card.createToken($form, stripeResponseHandler);
      }

      // Prevent the form from submitting with the default action.
      return false;
    });
  });
</script>

<% if current_user.valid_credit_card? %>
  <div class="flash-message">
    <p class="notice">You have a valid credit card on file. You may use this form to update your credit card details.</p>
  </div>
  <h1>Buyer's Agents Edit Your Payment Information</h1>
<% else %>
  <h1>Buyer's Agents Add Your Payment Information</h1>
<% end %>

<%= form_tag users_cc_payment_path, id: "payment-form" do %>
  <p class="payment-errors alert" style="display: none;"></p>

  <div>
    <label for="cc-num">Credit Card Number</label>
    <input id="cc-num" type="text" data-stripe="number" maxlength="20" autofocus="true" />
  </div>

  <div>
    <label for="cc-cvc">CVC</label>
    <input id="cc-cvc" type="text" data-stripe="cvc" maxlength="4" />
  </div>

  <div>
    <label for="cc-exp-month">Expiration Date <span class="note">(mm/yyyy)</span></label>
    <input id="cc-exp-month" type="text" data-stripe="exp-month" maxlength="2" style="display: inline-block; width: 50px;" />
    <span> / </span>
    <input id="cc-exp-year" type="text" data-stripe="exp-year" maxlength="4" style="display: inline-block; width: 100px;" />
  </div>

  <div>
    <label for="cc-address-zip">Zip Code</label>
    <input id="cc-address-zip" type="text" data-stripe="address-zip" maxlength="5" style="display: inline-block; width: 163px;" />
  </div>

  <%= submit_tag "Save", class: "button button-primary", data: { disable_with: "Saving..." } %>
<% end %>

<% if current_user.sellers_agent? || current_user.both_agent_types? %>
  <%= link_to "You may also update your bank details.", users_bank_payment_path %>
<% end %>
