<div class="status">
  <% if showing.status == "unassigned" %>
    <div class="three columns">
      <span class="status light-blue">Not Assigned</span>
    </div>
    <div class="nine columns">
      <%= form_for showing, url: cancel_users_buyers_request_path(showing), method: :post do |f| %>
        <%# TODO: this confirm language is bad, ok to cancel and cancel not to cancel? %>
        <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Are you sure you want to cancel this showing?" } %>
      <% end %>
    </div>
  <% elsif showing.status == "unconfirmed" %>
    <div class="three columns">
      <span class="status orange">Unconfirmed</span>
    </div>
    <div class="nine columns">
      <%= form_for showing, url: cancel_users_buyers_request_path(showing), method: :post do |f| %>
        <%# TODO: this confirm language is bad, ok to cancel and cancel not to cancel? %>
        <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Are you sure you want to cancel this showing?" } %>
      <% end %>
    </div>
  <% elsif showing.status == "confirmed" %>
    <div class="three columns">
      <span class="status orange">Confirmed</span>
    </div>
    <div class="nine columns">
      <%= form_for showing, url: cancel_users_buyers_request_path(showing), method: :post do |f| %>
        <%# TODO: this confirm language is bad, ok to cancel and cancel not to cancel? %>
        <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Are you sure you want to cancel this showing?" } %>
      <% end %>
    </div>
  <% elsif showing.status == "cancelled" %>
    <div class="three columns">
      &nbsp;
    </div>
    <div class="nine columns">
      <button class="button-alert">Cancelled</button>
    </div>
  <% elsif showing.status == "completed" %>
    <div class="three columns">
      <span class="status light-blue">Completed</span>
    </div>
    <div class="nine columns">
      <% if showing.no_show_eligible? %>
        <%= form_for showing, url: no_show_users_buyers_request_path(showing), method: :post do |f| %>
          <%= f.submit "No Show", class: "button-secondary", data: { confirm: "Are you sure you want to mark this showing as a no-show?" } %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  <% elsif showing.status == "no_show" %>
    <div class="three columns">
      <span class="status orange">No Show</span>
    </div>
    <div class="nine columns">
      &nbsp;
    </div>
  <% end %>
</div>
