<div class="showing">
  <div class="row">
    <div class="four columns">
      <%= render partial: "shared/showing/calendar", locals: { showing: showing } %>
    </div>
    <div class="eight columns">
      <div class="address">
        <h4><%= showing.address.single_line %></h4>
      </div>
      <%= render partial: "shared/showing/buyer_info", locals: { showing: showing } %>
      <%# TODO: make the below a model method? %>
      <% if showing.status.in? %w(unconfirmed confirmed completed) %>
        <%= render partial: "shared/showing/showing_agent_info", locals: { showing: showing } %>
      <% end %>
      <p class="note">
        <%= showing.notes %>
      </p>
      <% if buyers_requests_route? %>
        <%= render partial: "shared/showing/buyers_agent_actions", locals: { showing: showing } %>
      <% elsif showing_appointments_route? %>
        <%= render partial: "shared/showing/showing_assistant_actions", locals: { showing: showing } %>
      <% elsif showing_opportunities_route? %>
        <%= render partial: "shared/showing/showing_opportunities_actions", locals: { showing: showing } %>
      <% end %>
    </div>
  </div>
</div>
