<% if type == :buyers_agent %>
  <p class="status">Status: <span class="orange">Unconfirmed</span></p>
  <%= form_for showing, url: cancel_users_buyers_request_path(showing), method: :post do |f| %>
    <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Clicking OK will cancel this showing." } %>
  <% end %>
<% elsif type == :showing_assistant %>
  <div class="row">
    <div class="four columns">
      <%= form_for showing, url: confirm_users_showing_appointment_path(showing), method: :post do |f| %>
        <%= f.submit "Confirm" %>
      <% end %>
    </div>
    <div class="eight columns">
      <%= form_for showing, url: cancel_users_showing_appointment_path(showing), method: :post do |f| %>
        <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Clicking OK will cancel this showing." } %>
      <% end %>
    </div>
  </div>
<% elsif type == :showing_opportunities %>
  <% if showing.showing_agent == current_user %>
    <p>Status: <span class="orange">Unconfirmed</span></p>
    <div class="row">
      <div class="four columns">
        <%= form_for showing, url: confirm_users_showing_appointment_path(showing), method: :post do |f| %>
          <%= f.submit "Confirm" %>
        <% end %>
      </div>
      <div class="eight columns">
        <%= form_for showing, url: cancel_users_showing_appointment_path(showing), method: :post do |f| %>
          <%= f.submit "Cancel", class: "button-secondary", data: { confirm: "Clicking OK will cancel this showing." } %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="status">Status: <span class="orange">Reserved</span></p>
  <% end %>
<% end %>
