<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <%= render "shared/header" %>
  <% if content_for?(:subnav) %>
    <%= yield :subnav %>
  <% end %>
  <main class="container">
    <%= render "shared/flashes" %>
    <%= yield %>
  </main>
  <%= render "shared/footer" %>
  <%= render "shared/ga" if Rails.env.production? %>
</body>
</html>
