<header>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <%= link_to root_path do %>
          <%= image_tag "logo", class: "logo-icon" %>
        <% end %>
      </div>
      <div class="nine columns">
        <div class="links">
          <% if user_signed_in? %>
            <%= link_to "#{@greeting}", edit_users_profile_path %>
            <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>