<%= content_for(:subnav) { render "shared/users/subnav_profile" } %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= Rails.application.secrets[:stripe]["public_key"] %>");

  var stripeResponseHandler = function(status, response) {
    var $form = $("#payment-form");

    if (response.error) {
      // Show the errors on the form
      $form.find(".payment-errors").text(response.error.message).show();
      $form.find("button").prop("disabled", false);
    }
    else {
      // The token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server, and resubmit
      $form.append($("<input type='hidden' name='stripeToken'/>").val(token));
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $("#payment-form").submit(function(e) {
      var $form = $(this);
      $form.find("input[type='submit']").prop("disabled", true); // Prevent repeated clicks
      // Stripe.card.createToken($form, stripeResponseHandler);

      Stripe.bankAccount.createToken({
        country: "US",
        currency: "USD",
        routing_number: $("#bank-routing-number").val(),
        account_number: $("#bank-account-number").val(),
        account_holder_name: $("#bank-account-holder-name").val(),
        account_holder_type: "individual"
      }, stripeResponseHandler);

      // Prevent the form from submitting with the default action.
      return false;
    });
  });
</script>

<% if current_user.valid_bank_token? %>
  <p class="notice">You have a valid bank account on file. You may use this form to update your bank details.</p>
<% end %>

<h1>Showing Assistant's Payment Information</h1>

<p>In order to accept showings, you must provide valid bank account information. Your account will be credited within 2 to 3 days of the showing and the payment may take up to 5 additional business days to fully process depending upon your financial institution.</p>

<%= form_tag users_bank_payment_path, id: "payment-form" do %>
  <p class="payment-errors alert display-none"></p>

  <div>
    <label for="bank-routing-number">Routing Number</label>
    <input id="bank-routing-number" type="text" data-stripe="routing-number" maxlength="20" autofocus="true" />
  </div>

   <div>
    <label for="bank-account-number">Account Number</label>
    <input id="bank-account-number" type="text" data-stripe="account-number" maxlength="20" />
  </div>

  <div>
    <label for="bank-account-holder-name">Account Holder Name</label>
    <input id="bank-account-holder-name" type="text" data-stripe="account-holder-name" maxlength="40" />
  </div>

  <%= submit_tag "Save", class: "button button-primary top-and-bottom-margin", data: { disable_with: "Saving..." } %>

<% end %>

<% if current_user.buyers_agent? || current_user.both_agent_types? %>
  <%= link_to "You may also update your credit card details.", users_cc_payment_path %>
<% end %>
