<%# TODO: need some tests around this %>
<% if current_user.profile.present? && current_user.profile.valid? %>
<nav>
  <div class="container">
    <div class="row">
      <% if current_user.profile.agent_type == "buyers_agent" %>
        <div class="four columns">
          <%= link_to "Buyer's Agent Requests", users_buyers_requests_path %>
        </div>
      <% elsif current_user.profile.agent_type == "sellers_agent" %>
        <div class="four columns">
          <%= link_to "Showing Assistant Appointments", users_showing_appointments_path %>
        </div>
        <div class="four columns">
          <%= link_to "Available Showing Opportunities", users_showing_opportunities_path %>
        </div>
      <% elsif current_user.profile.agent_type == "both" %>
        <div class="four columns">
          <%= link_to "Buyer's Agent Requests", users_buyers_requests_path %>
        </div>
        <div class="four columns">
          <%= link_to "Showing Assistant Appointments", users_showing_appointments_path %>
        </div>
        <div class="four columns">
          <%= link_to "Available Showing Opportunities", users_showing_opportunities_path %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
<% end %>
