<%= content_for(:subnav) { render "shared/admin/subnav_users" } %>

<h1>Users</h1>

<p class="note">If you are using a Mac, to search for users hold down the "command" key and then press the
"F" key. If you are using a PC, hold down the "CTRL" key and then press the "F" key.</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell Phone</th>
      <th>Office Phone</th>
      <th>Agent Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.safe_full_name %></td>
        <td><%= mail_to u.email %></td>
        <td><%= tel_to number_to_phone(u.primary_phone) %></td>
        <td><%= tel_to number_to_phone(u.secondary_phone) %></td>
        <td><%= u.profile.agent_type_str %></td>
        <td><%= link_to "Show Details", admin_user_path(u) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="align-right">
  <%= will_paginate @users %>
</div>