<%= content_for(:subnav) { render "shared/users/subnav_buyers_requests" } %>

<h2>Request New Showing</h2>

<%= form_for @showing, url: users_buyers_requests_path do |f| %>

  <% if @showing.errors.any? %>
    <div id="error_explanation">
      <h4>The following errors prohibited this record from being saved:</h4>
      <ul>
        <% @showing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :showing_at %>
    <%= f.datetime_select :showing_at,
      discard_year: true, ampm: true, minute_step: 5, start_hour: 8, end_hour: 20, with_css_classes: true %>
  </div>

  <div>
    <%= f.label :mls, "MLS #", class: "required" %>
    <%= f.text_field :mls %>
  </div>

  <%= f.fields_for :address do |a| %>

    <div>
      <%= a.label :line1, "Address", class: "required" %>
      <%= a.text_field :line1 %>
    </div>

    <div>
      <%= a.label :line2, "Unit" %>
      <%= a.text_field :line2 %>
    </div>

    <div class="row">
      <div class="four columns">
        <%= a.label :city, class: "required" %>
        <%= a.text_field :city %>
      </div>

      <div class="four columns">
        <%= a.label :state, class: "required" %>
        <%= a.text_field :state, maxlength: 2 %>
      </div>

      <div class="four columns">
        <%= a.label :zip, class: "required" %>
        <%= a.text_field :zip, maxlength: 5 %>
      </div>
    </div>

  <% end %>

  <div>
    <%= f.label :buyer_name, class: "required" %>
    <%= f.text_field :buyer_name %>
  </div>

  <div>
    <%= f.label :buyer_phone, class: "required" %>
    <%= f.text_field :buyer_phone %>
  </div>

  <%= label_tag "Buyer is a/an:" %>
  <div class="row">
    <div class="four columns">
      <%= f.label "buyer_type_individual", class: "control control-radio" do %>
        Individual
        <%= f.radio_button :buyer_type, :individual %>
        <div class="control-indicator"></div>
      <% end %>
    </div>

    <div class="four columns">
      <%= f.label "buyer_type_couple", class: "control control-radio" do %>
        Couple
        <%= f.radio_button :buyer_type, :couple %>
        <div class="control-indicator"></div>
      <% end %>
    </div>

    <div class="four columns">
      <%= f.label "buyer_type_family", class: "control control-radio" do %>
        Family
        <%= f.radio_button :buyer_type, :family %>
        <div class="control-indicator"></div>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.label :notes do %>
      Notes <span class="note">(400 character limit)</span>
    <% end %>
    <%= f.text_area :notes %>
  </div>

  <div>
    <%= f.label :preferred_agent, "Preferred Showing Assistant Email" %>
    <p class="note">Text about what this means....</p>
    <%= f.email_field :preferred_agent %>
  </div>

  <%= f.submit "Submit" %>

<% end %>