<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <%= render "shared/header" %>
  <div class="error-page-hero">
    <main class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
  </div>
  <%= render "shared/footer" %>
  <%= render "shared/ga" if Rails.env.production? %>
</body>
</html>
